<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="models/Similar.js"></script>
    <script src="models/GeneralData.js"></script>
    <script src="tastedive.js"></script>
    <script src="omdbapi.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="progressbar.css">
</head>

<body class="body">
<div id="app" class="body">
    <div class="center">
        <h1>Filmex</h1>
        <label>Podaj tytuł filmu:</label>
        <br>
        <br>
        <input id="searchArea" class="searchArea" type="text" v-model="searchText" placeholder="Wyszukaj film..."/>
        <br>
        <button id="searchButton" class="searchButton" @click="search()">Szukaj</button>
        <br>
        <br>
        <a>Szukana fraza:</a><br>
        <a>{{this.searchText}}</a><br>
    </div>

    <div v-if="dataIsLoading">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span>Ładuję, proszę czekać
                    <span class="dotdotdot"></span>
                </span>
            </div>
        </div>
    </div>
    <div v-else> 
        <!--    <div v-for="(item) in movies" onclick="switchInnerPanelVisibility(this)">-->
        <div v-for="movieDetails in moviesInDetail" onclick="switchInnerPanelVisibility(this)">
            <!--        <button class="accordion">{{item.name}}</button>-->
            <button class="accordion">{{movieDetails.title}}</button>
            <div class="panel inner-panel">
                <div class="center">
                    <img  v-bind:src="movieDetails.poster">
                </div>
                <p>{{movieDetails}}</p>
            </div>
        </div>
        <div class= "show-more-btn-area">
        <button v-if="!isFullListDisplayed" class="show-mote-btn"
                @click="loadMoreMoviesInDetail(SHOW_MORE_ITEMS_NUM)">Pokaż więcej
        </button>
        </div>
    </div>
</div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            SHOW_FIRST_ITEMS_NUM: 3,
            SHOW_MORE_ITEMS_NUM: 3,
            searchText: "",
            generalData: "",
            errors: [],
            similarMovies: [], //lista wszystkich podobnych filmów
            moviesInDetail: [], //lista z danymi wszystkich podobnych filmów
            isFullListDisplayed: true,
            dataIsLoading: false
        },
        computed: {},
        methods: {
            search: async function () {
                if(this.searchText) {
                    this.dataIsLoading = true
                    this.similarMovies = []
                    this.moviesInDetail = []
                    await this.searchSimilarMovies();
                    await this.loadMoreMoviesInDetail(this.SHOW_FIRST_ITEMS_NUM);
                    this.dataIsLoading = false
                }
            },

            searchSimilarMovies: async function () {
                let cors_anywhere_api = 'https://cors-anywhere.herokuapp.com/'
                let tastediveURL = 'https://tastedive.com/api/similar?k=360743-apiclass-HZ7RM425&q=' + this.searchText.toLowerCase()
                let url = cors_anywhere_api + tastediveURL

                await axios.get(url).then(response => {
                    similiar = response.data.Similar

                    filteredResult = similiar.Results.filter(movie => movie.Type === "movie")

                    filteredResult.forEach(movie => {
                        let item = new Similar(movie.Name, movie.Type);
                        this.similarMovies.push(item)
                    })

                }).catch(e => {
                    console.error(e)
                    this.errors.push(e)
                })
            },

            loadMoreMoviesInDetail: async function (nextMoviesCount) {
                let similarMoviesLength = this.similarMovies.length

                if (similarMoviesLength > this.moviesInDetail.length) {
                    let nextMovieDetailsToLoad = Math.min(nextMoviesCount, similarMoviesLength - this.moviesInDetail.length)

                    for (const movieName of this.similarMovies
                        .slice(this.moviesInDetail.length, this.moviesInDetail.length + nextMovieDetailsToLoad)
                        .map(similarInfo => similarInfo.name)) {
                        let movieInDetail = await this.getDetailsOf(movieName);
                        this.moviesInDetail.push(movieInDetail)
                    }
                }

                this.isFullListDisplayed = similarMoviesLength === this.moviesInDetail.length

            },

            getDetailsOf: async function (movieName) {
                let omdbapiURL = `http://www.omdbapi.com/?t=${movieName}&apikey=d3b3f9ef`

                return axios.get(omdbapiURL).then(response => {
                    this.generalData = new GeneralData(
                        response.data.Title,
                        response.data.Year,
                        response.data.Rated,
                        response.data.Released,
                        response.data.Runtime,
                        response.data.Genre,
                        response.data.Director,
                        response.data.Writer,
                        response.data.Actors,
                        response.data.Plot,
                        response.data.Language,
                        response.data.Country,
                        response.data.Awards,
                        response.data.Poster,
                        response.data.Ratings,
                        response.data.Metascore,
                        response.data.imdbRating,
                        response.data.imdbID,
                        response.data.Type,
                        response.data.DBD,
                        response.data.BoxOffice,
                        response.data.Production,
                        response.data.Website,
                        response.data.Response
                    )

                    return this.generalData
                }).catch(e => {
                    console.error(e)
                    this.errors.push(e)
                })
            },

            loadMovieInfo: function () {
                let omdbapiURL = `http://www.omdbapi.com/?t=${this.searchText}&apikey=d3b3f9ef`

                axios.get(omdbapiURL).then(response => {
                    this.generalData = new GeneralData(
                        response.data.Title,
                        response.data.Year,
                        response.data.Rated,
                        response.data.Released,
                        response.data.Runtime,
                        response.data.Genre,
                        response.data.Director,
                        response.data.Writer,
                        response.data.Actors,
                        response.data.Plot,
                        response.data.Language,
                        response.data.Country,
                        response.data.Awards,
                        response.data.Poster,
                        response.data.Ratings,
                        response.data.Metascore,
                        response.data.imdbRating,
                        response.data.imdbID,
                        response.data.Type,
                        response.data.DBD,
                        response.data.BoxOffice,
                        response.data.Production,
                        response.data.Website,
                        response.data.Response
                    )
                    console.log(this.generalData)
                }).catch(e => {
                    console.error(e)
                    this.errors.push(e)
                })
            }
        }
    });

    function switchInnerPanelVisibility(panelDiv) {

        let innerPanel = panelDiv.getElementsByClassName("inner-panel")[0]
        if (innerPanel.style.display === "block") {
            innerPanel.style.display = "none";
        } else {
            innerPanel.style.display = "block";
        }
    }

</script>
</html>
